<!DOCTYPE html>
	<html>
		<head>
			<title><a> Welcome to Cathy Qian's Homepage </a></title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
		
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/algorithms">Algorithms</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>

			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zhaoxiaq@gmail.com">Email me</a></li>
				</ul>
			</footer>
		</body>
	</html>
